@import '/variables';

* {
  margin: 0px;
}
/* media queries */
@media only screen and (max-width: 500px) and (max-height: 736px) {
  * {
    // background-color: rgb(255, 253, 253);
    text-align: center;
    color: black;
  }

  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #google-map-me {
    margin-top: 40px;
    height: 75vh;
    width: 65vh;
  }
}

#background-image {
  background-image: url('https://i.gifer.com/wmp.gif');
  min-height: 650px;
  height: 100%;
}

#login-background {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

#beerBuddyDiv {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.beerBuddy {
  max-height: 50%;
  max-width: 50%;
}

.crawl-container {
  margin: 10px;
  border: 1px black solid;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
}

// details tag;
#details-tag {
  font-weight: 550;
  font-size: 22px;
}
#details-tag:hover {
  color: red;
}

// create crawl form
.createcrawl-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

// input
.createcrawl-form > input {
  width: 50%;
}

// label
.createcrawl-form > label {
  font-size: 20px;
  font-weight: 600;
}

#googlecoords-div {
  width: 80%;
}

// google button
.g-signin2 {
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
}

.loginForm > p,
.loginForm > input {
  margin: 5px;
}

#beer-pressure {
  padding-top: 20px;
}

#google-sign-in-p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.loginBox {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin-top: 30px;
}

.h1 {
  font-family: $header-font-family;
  color: $blue;
}

p {
  font-family: $text-font-family;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e1dddd;
  border-radius: 8px;
  height: 60px;
  width: 100%;
}

.nav-btn {
  font: $header-font-family;
  color: $blue;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: $border-radius;
  font-size: 12px;
  width: 40px;
  height: 10px;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.803);
}

// link tags
a {
  font-size: 18px;
  text-decoration: none;
}

a:active {
  color: red;
}

// crawl search bar
#crawl-search {
  margin-top: 10px;
}

.btn {
  color: white;
  background-color: $blue;
  text-decoration: none;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.btn:hover {
  background-color: $blue-hover;
}

.google {
  width: 35%;
  padding: 3px;
}

.login-button {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  border: $blue solid 1px;
  width: 40%;
  margin: auto;
}
