$blue:  rgb(33, 99, 213);
// $font-family: "HK Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: 'Abril Fatface', sans-serif;
$text-font-family: 'Lato', sans-serif;
$blue-hover: rgb(72, 129, 227);
$border-radius: 4px;
